.react-flow__node-custom {
  font-family: "Helvetica", sans-serif;
  font-size: 9px;
  width: 180px;
  background: white;
  color: #222;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border: 1px solid #000000;
  border-radius: 8px;
}

.custom-node__header {
  background-color: #e5e7eb;
  border-bottom: 1px solid #000000;
  padding: 8px 10px;
  border-radius: 8px 8px 0px 0px;
}

.custom-node__select {
  position: relative;
  margin-bottom: 7px;
}

/* .custom-node__select select {
  width: 100%;
  margin-top: 5px;
  font-size: 10px;
  border-radius: 0px 0px 8px 8px;
  margin-bottom: 0px;
} */

.custom-node__select-item {
  margin: 7px 0px;
  padding: 0 8px;
}
.custom-node__select-item {
  margin: 7px 0px;
  padding: 0 8px;
}
.custom-node__select-item:last-child {
  margin: 0px;
  /* padding: 0 8px; */
  padding-bottom: 0;
}

.custom-node__header-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.custom-node__header-title-text {
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000000;
  font-size: 8px;
  border-radius: 8px;
  overflow: hidden;
}

td,
th {
  border: 1px inset #e0e2e6;
  border-top: 0px;
  box-sizing: border-box;
  padding: 6px;
  /* border-radius: 0px 0px 8px 8px; */
}
