/* .react-flow__node-cidsClass {
  font-family: "Helvetica", sans-serif;
  font-size: 9px;
  width: 180px;
  background: white;
  color: #222;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 8px;
} */

.cidsClass-node__header {
  background-color: #e5e7eb;
  border-bottom: 1px solid #000000;
  padding: 8px 10px;
  border-radius: 8px 8px 0px 0px;
}

.cidsClass-node__select {
  position: relative;
  margin-bottom: 10px;
}

.cidsClass-node__select select {
  width: 100%;
  margin-top: 5px;
  font-size: 10px;
  border-radius: 0px 0px 8px 8px;
}

.cidsClass-node__select-item {
  margin: 14px 0px;
}

.cidsClass-node__header-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cidsClass-node__header-title-text {
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000000;
  font-size: 8px;
  border-radius: 8px;
  overflow: hidden;
}

td,
th {
  border: 1px inset #e0e2e6;
  border-top: 0px;
  box-sizing: border-box;
  padding: 6px;
}

.secondCidsClass {
  padding: 4px 8px;
}
.secondCidsClass:first-child {
  margin-top: 4px;
}
.secondCidsClass:last-child {
  margin-bottom: 4px;
}

.cidsClass-node__header.cidsClass-node__header-gray {
  background-color: #f3f3f3;
}

.secondCidsClass__body {
  background-color: #e0e0e0;
  margin: 0;
  padding: 1px 0px;
  border-radius: 0px 0px 8px 8px;
}
.secondCidsClass__body {
  background-color: rgb(231, 217, 126);
  margin: 0;
  padding: 1px 0px;
  border-radius: 0px 0px 8px 8px;
}
